
<div class="row">
    <div class="medium-6 columns medium-push-6">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h2>Sharing information with eachother</h2>
        <p>The purpose of this website is to share useful information about organisations and meetingsplaces where newcomers can come in contact with the local community and find support that isn't governmental</p>
    </div>
    <div class="medium-6 columns medium-pull-6">
        <img src="~/Images/logo.jpg" />
    </div>
</div>
<div class="row">
    <div class="medium-4 columns">
        <h3>Language</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
    </div>
    <div class="medium-4 columns">
        <h3>People</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
    </div>
    <div class="medium-4 columns">
        <h3>Help and Support</h3>
        <p> sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
    </div>
</div>
