@model int
<head>
    <title>HTTP-fel @Model</title>
</head>
<body>
    <h1>OUUUUPPSSSS</h1>
    <h2>Now something went wrong.....</h2>
    <p>.....due to HTTP-fel: @Model</p>
</body>
<link href="~/CSS/skeleton.css" rel="stylesheet" />
<link href="~/CSS/normalize.css" rel="stylesheet" />